<!DOCTYPE html>
<html lang ="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link href="/css/styleHome.css" rel="stylesheet" type="text/css">
    </head>
    <body style = "background-image: url('/css/background2.jpg');">
        <div class="container">
            <form action="/authentication" method="post">
                <button type="submit" class="btn btn1" name="Admin_Role" value='Support'>Support</button>
                <button type="submit" class="btn btn2" name="Admin_Role" value='Finance'>Finance</button>
                <button type="submit" class="btn btn3" name="Admin_Role" value='Sales'>Sales</button>
                <button type="submit" class="btn btn4" name="Admin_Role" value='Human Resources'>Human Resources</button>
                <button type="submit" class="btn btn5" name="Admin_Role" value="Technology">Technology</button>
            </form>
        </div>
    </body>
</html>