<!DOCTYPE html>
<html lang ="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Technology Admin Links</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body style = "background-image: url('/css/background2.jpg');">
        <div class="center">
            <div class="container">
                <div class="text">Technology Admin Links</div>
                <div class="center">
                    <div class="btn"><p>
                        <form action="https://google.com">
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">Application Monitoring</button>
                            </div>
                        </form>
                    </div>
                    <div class="btn"><p>
                        <form action="https://google.com">
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">Tech Support</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="btn"><p>
                        <form action="https://google.com">
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">App Development</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="btn"><p>
                        <form action="https://google.com">
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">App Admin</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="btn"><p>
                        <form action="https://google.com">
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">Release Management</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
